workflows/hr-screening/hr-screening.json
{
  "name": "hr_screening",
  "nodes": [
    {
      "parameters": {
        "content": "### extract ข้อมูลผู้สมัคร\n\n",
        "height": 244,
        "width": 252
      },
      "id": "6833aa5e-e41c-4fc3-8a3a-63e38efde91e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Extract ข้อมูลส่วนตัว และคุณสมบัติผู้สมัคร",
        "height": 408,
        "width": 344
      },
      "id": "61cfc6e5-3ded-4374-9295-6a1eb2f42548",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2320,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### สรุปขอมูลต่าง ๆ ของผูสมัคร",
        "height": 240,
        "width": 320
      },
      "id": "eac93194-66f6-4914-b68c-5a590c9ef5b9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### ให้คะแนนผู้สมัครจาก 1-10 (เหมาะสมน้อยสุดไปมากสุด) พร้อมระบุเหตุผล",
        "height": 240,
        "width": 360
      },
      "id": "0239f580-ad6e-411b-bda6-52d2082c4753",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3632,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "id": "e48a26bf-858e-4bd3-a698-254c4f7bc8ce",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2960,
        832
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "1HpVjC6Klk7WP4RG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "8bd87c3b-19de-4a1b-aeee-c8fbc04f16d2",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "position": [
        3248,
        912
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2720,
        -240
      ],
      "id": "72c8bb13-6425-4e20-a1ac-06ecf5f39908",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9J04Q2IquoUa8oI9",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        3104,
        -240
      ],
      "id": "267747a0-3f9e-4b9c-a05b-5d379767a3bd",
      "name": "Information Extractor",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3120,
        -48
      ],
      "id": "6e5a0f6e-21b3-4239-b984-ed69f18809f9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "1HpVjC6Klk7WP4RG",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2560,
        128
      ],
      "id": "0a937d76-bee5-4f2c-8fa3-d7003984e617",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGLXlyS8eUGhktgd",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Node ที่ใช้",
        "height": 640,
        "width": 1024,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2448,
        -304
      ],
      "id": "b1a69f9a-ee3e-42f6-b028-994f0b74bc2e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "1dd390dc-e9c5-47cb-b08c-b56ca3048656",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "position": [
        2512,
        1136
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "854c403e-2d1d-4566-988c-192704c367ba",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "position": [
        2512,
        1376
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4048,
        1024
      ],
      "id": "510ef1e3-1126-438e-89ba-c0735a5a61d1",
      "name": "Merge7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "516ec865-8106-49fd-b732-8df86d791adb",
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "position": [
        2720,
        1136
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "formTitle": "Candidate Form",
        "formDescription": "=กรุณากรอกข้อมูลให้ครบถ้วน",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Role",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AI Transformation Specialist"
                  },
                  {
                    "option": "AI Creator"
                  },
                  {
                    "option": "Reception"
                  },
                  {
                    "option": "Photographer"
                  },
                  {
                    "option": "Cybersecurity Specialist"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "customCss": ""
        }
      },
      "id": "8cd2bcbd-2131-4a8d-9d0a-d31adffa737c",
      "name": "Resume form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        1744,
        912
      ],
      "webhookId": "c0f02df1-9bf8-468f-a33d-e67655bfa920",
      "typeVersion": 2.2,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูล input ทั้งหมด\n\nconst items = $input.all();\n\n\n\n// วนลูปเพื่อเข้าถึงแต่ละรายการ (item)\n\nfor (const item of items) {\n\n  // รับค่า submittedAt จาก JSON\n\n  const submittedAt = item.json.submittedAt;\n\n\n\n  // สร้าง object วันที่จากค่า ISO 8601 string\n\n  const dateObj = new Date(submittedAt);\n\n\n\n  // ดึงส่วนต่างๆ ของวันที่และเวลา\n\n  const year = dateObj.getFullYear();\n\n  const month = String(dateObj.getMonth() + 1).padStart(2, '0'); // เดือนเริ่มจาก 0\n\n  const day = String(dateObj.getDate()).padStart(2, '0');\n\n  const hours = String(dateObj.getHours()+7).padStart(2, '0');\n\n  const minutes = String(dateObj.getMinutes()).padStart(2, '0');\n\n  const seconds = String(dateObj.getSeconds()).padStart(2, '0');\n\n\n\n  // สร้าง string วันที่และเวลาในรูปแบบที่ต้องการ\n\n  const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n\n\n\n  // เพิ่ม field ใหม่ใน JSON เพื่อเก็บค่าที่แปลงแล้ว\n\n  item.json.formattedDate = formattedDate;\n\n\n\n  // *** เพิ่มโค้ดส่วนนี้เพื่อเพิ่ม key 'candidate_source' ***\n\n  item.json.candidateSource = 'https://drive.google.com/drive/u/0/folders/1ElR8WmzK0tc2XtKqdfVHNpbx9VqWwvYP';\n\n}\n\n\n\n// ส่งผลลัพธ์กลับ\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        1136
      ],
      "id": "17af1224-f39b-4dd6-b1c2-df32b3c50d8c",
      "name": "Transform datetime",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json['Job Role'] }}_{{ $json.Name }}_{{ $json.formattedDate }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.candidateSource }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2288,
        1264
      ],
      "id": "eacb70b6-f305-46e8-992f-c02fc2ab0bd9",
      "name": "Create candidate's folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9J04Q2IquoUa8oI9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iGrtEz_v3NBe3VslyrKU7lcojiIZC3uQvhq0UKWbc_Y",
          "mode": "list",
          "cachedResultName": "Job Roles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iGrtEz_v3NBe3VslyrKU7lcojiIZC3uQvhq0UKWbc_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Job",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iGrtEz_v3NBe3VslyrKU7lcojiIZC3uQvhq0UKWbc_Y/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Title",
              "lookupValue": "={{ $json[\"Job Role\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2496,
        1680
      ],
      "id": "a1ea5b98-21cb-406e-b61f-8c25b8640576",
      "name": "Read job role worksheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGLXlyS8eUGhktgd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.JD }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2704,
        1680
      ],
      "id": "9973f64f-adba-47c2-a3fc-de935086b910",
      "name": "Read jd that corresponds job role",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "TC0rOSKZJmqDBrkV",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Resume",
        "name": "={{ $json['Resume'].filename}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2720,
        1392
      ],
      "id": "54f868e1-c385-4548-95c5-66882bc44ad7",
      "name": "Upload resume into candidate's folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9J04Q2IquoUa8oI9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=Resume",
        "options": {}
      },
      "id": "6e845aeb-6d1c-475a-8bcd-3e6f658252ef",
      "name": "Extract resume's detail",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2048,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"address\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"tel\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"portfolio url\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "93519486-316d-4470-abf6-e1d484aac4f6",
      "name": "Get personal data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        2368,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Educational qualification",
              "description": "=Summary of your academic career. Focus on your high school and university studies. Summarize in 100 words maximum and also include your grade if applicable.",
              "required": true
            },
            {
              "name": "Job History",
              "description": "=Work history summary. Focus all work experiences. What have the applicants done, been responsible for, and accomplished? Summarize in 500 words maximum",
              "required": true
            },
            {
              "name": "Skills",
              "description": "=Extract the candidate’s technical skills. What software and frameworks they are proficient in. Including soft skills or others. Make a bulleted list.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "id": "22395374-903f-4011-8911-f1a080d303aa",
      "name": "Get qualifications",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        2368,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkingMode": "advanced",
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following:\n\nAddress: {{ $json.output.address }}\n\nTel: {{ $json.output.tel }}\n\nPortfolio: {{ $json.output['portfolio url'] }}\n\nEducational qualification: {{ $json.output[\"Educational qualification\"] }}\n\nJob History: {{ $json.output[\"Job History\"] }}\n\nSkills: {{ $json.output.Skills }}\n\nUse 300 words or less. Be concise and conversational.",
              "prompt": "=Write a concise summary of the following:\n\nAddress: {{ $json.output.address }}\n\nTel: {{ $json.output.tel }}\n\nPortfolio: {{ $json.output['portfolio url'] }}\n\nEducational qualification: {{ $json.output[\"Educational qualification\"] }}\n\nJob History: {{ $json.output[\"Job History\"] }}\n\nSkills: {{ $json.output.Skills }}\n\nUse 300 words or less. Be concise and conversational."
            }
          }
        }
      },
      "id": "98195ac8-b030-4ab4-965f-7ce9e10e8c5a",
      "name": "Summarize candidate's detail",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        2992,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg",
          "mode": "list",
          "cachedResultName": "Candidate Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1317499841,
          "mode": "list",
          "cachedResultName": "Metric",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg/edit#gid=1317499841"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        960
      ],
      "id": "966a444c-9924-41a5-afd5-e522acc1b331",
      "name": "Read metric evaluation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGLXlyS8eUGhktgd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูล input ทั้งหมด\nconst items = $input.all();\n\n// สร้าง object เพื่อเก็บข้อมูลจากแต่ละส่วน\nlet qualification = null;\nlet jd = null;\nlet evaluation = [];\n\n// วนลูปเพื่อจัดเรียงข้อมูลตาม key ที่ต้องการ\nfor (const item of items) {\n  if (item.json.response && item.json.response.text) {\n    qualification = item.json.response.text;\n  }\n  \n  if (item.json.documentId && item.json.content) {\n    jd = item.json.content;\n  }\n  \n  if (item.json.hasOwnProperty('Score')) {\n    const evalData = {\n      score: item.json.Score,\n      definition: item.json.Definition,\n      description: item.json.Description,\n      example: item.json.Example\n    };\n    evaluation.push(evalData);\n  }\n}\n\n// สร้าง JSON object ใหม่ตามโครงสร้างที่ต้องการ\nconst newJson = {\n  qualification: qualification,\n  jd: jd,\n  evaluation: evaluation\n};\n\n// ส่งผลลัพธ์ใหม่กลับไป\nreturn [{ json: newJson }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        640
      ],
      "id": "fbc17bb0-f4ba-41e1-891e-b16dbe9dd64c",
      "name": "Transform json input",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คุณสมบัติผู้สมัครเป็นดังนี้ :\n{{ $json.qualification }}\n\nคุณสมบัติที่เราอยากได้เป็นดังนี้ :\n{{ $json.jd }}\n\nและเกณฑ์การให้คะแนนมีรายละเอียดดังนี้ :\n{{ $json.evaluation.map(item => `\nคะแนน: ${item.score}\nแปลผล: ${item.definition}\nคำอธิบาย: ${item.description}\nตัวอย่าง: ${item.example}\n`).join('\\n') }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an HR expert and need to assess if the candidate aligns with the profile the company is looking for. You must give a score from 1 to 10, where 1 means the candidate is not at all aligned with the requirements, while 10 means they are the ideal candidate because they perfectly match the desired profile. Additionally, in the \"consideration\" field, explain and summarize why you gave that score in 300 words maximum , written in simple, easy-to-understand in Thai."
            }
          ]
        }
      },
      "id": "8bad515a-fe59-4b0f-9d58-059635cf3b05",
      "name": "Scoring & Reasoning",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3664,
        640
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg",
          "mode": "list",
          "cachedResultName": "Candidate Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Candidate Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Profile": "={{ $json['Candidate Profile']}}",
            "Score": "={{ $json.output.vote }}",
            "Reason": "={{ $json.output.consideration }}"
          },
          "matchingColumns": [
            "Candidate Profile"
          ],
          "schema": [
            {
              "id": "Candidate Profile",
              "displayName": "Candidate Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resume Name",
              "displayName": "Resume Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Porfolio",
              "displayName": "Porfolio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Create Date",
              "displayName": "Create Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Update Date",
              "displayName": "Update Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4304,
        1024
      ],
      "id": "f6c51cab-35b8-4fee-ac4d-4fafedc7a3a8",
      "name": "Update some col of candidate's row data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGLXlyS8eUGhktgd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "f57f4c8a-0f67-4531-abe0-5eb3099e7004",
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "position": [
        2768,
        576
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2560,
        -64
      ],
      "id": "fe06849b-d80a-435c-8853-b2d0c96ed6b8",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"vote\": {\n\t\t\t\"type\": \"integer\"\n\t\t},\n\t\t\"consideration\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "id": "602c05a2-5686-4d01-8300-d0c22ad42afe",
      "name": "Structured Output Parser (โครงสร้าง Json Output ที่อยากให้เป็น)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        3808,
        816
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2800,
        144
      ],
      "id": "d3d63364-5f53-4782-b053-605fd8205a56",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2912,
        -240
      ],
      "id": "e1bc1993-20d0-4acc-82fe-8078b1a8d103",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        2560,
        -240
      ],
      "id": "950b5f4e-0cf2-4917-948e-71766227cf96",
      "name": "On form submission",
      "webhookId": "b1c915fa-d692-4aca-8d29-71e8bd7c550a",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        2768,
        -64
      ],
      "id": "40ce87b9-2e3b-4d07-80cc-a1d1ad318f16",
      "name": "Summarization Chain",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.JD }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3184,
        144
      ],
      "id": "22fee700-91a2-41b5-aa3a-b23408d905da",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "TC0rOSKZJmqDBrkV",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูล input ทั้งหมด\n\nconst items = $input.all();\n\n\n\n// วนลูปเพื่อเข้าถึงแต่ละรายการ (item)\n\nfor (const item of items) {\n\n  // รับค่า submittedAt จาก JSON\n\n  const submittedAt = item.json.submittedAt;\n\n\n\n  // สร้าง object วันที่จากค่า ISO 8601 string\n\n  const dateObj = new Date(submittedAt);\n\n\n\n  // ดึงส่วนต่างๆ ของวันที่และเวลา\n\n  const year = dateObj.getFullYear();\n\n  const month = String(dateObj.getMonth() + 1).padStart(2, '0'); // เดือนเริ่มจาก 0\n\n  const day = String(dateObj.getDate()).padStart(2, '0');\n\n  const hours = String(dateObj.getHours()).padStart(2, '0');\n\n  const minutes = String(dateObj.getMinutes()).padStart(2, '0');\n\n  const seconds = String(dateObj.getSeconds()).padStart(2, '0');\n\n\n\n  // สร้าง string วันที่และเวลาในรูปแบบที่ต้องการ\n\n  const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n\n\n\n  // เพิ่ม field ใหม่ใน JSON เพื่อเก็บค่าที่แปลงแล้ว\n\n  item.json.formattedDate = formattedDate;\n\n\n\n  // *** เพิ่มโค้ดส่วนนี้เพื่อเพิ่ม key 'candidate_source' ***\n\n  item.json.candidateSource = 'https://drive.google.com/drive/u/0/folders/1ElR8WmzK0tc2XtKqdfVHNpbx9VqWwvYP';\n\n}\n\n\n\n// ส่งผลลัพธ์กลับ\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        128
      ],
      "id": "9c6b0dce-8e69-42c8-822a-d6758bef7de3",
      "name": "Code",
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "content": "### นำเข้าเกณฑ์การพิจารณาให้คะแนน\n\n",
        "height": 212,
        "width": 204,
        "color": 4
      },
      "id": "2010937b-60a6-466d-b7bc-70fd24b435bb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### สร้าง folder เอาไว้เก็บ resume ผู้สมัคร\n\n",
        "height": 212,
        "width": 204,
        "color": 4
      },
      "id": "bed2bf3e-f293-408d-b1e5-5f9aac3f62aa",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### นำข้อมูลผู้สมัครไปต่อจากแถวเดิมเพื่อเก็บไว้\n",
        "height": 244,
        "width": 236,
        "color": 4
      },
      "id": "07cefdd8-b75e-4705-9807-a590fd6a94f0",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg",
          "mode": "list",
          "cachedResultName": "Candidate Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Candidate Evaluation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D9vr6ijk0J1-G8oC27gmvFYm2-TiyaEArGryi01Lqwg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Profile": "={{ $json.candidateSource}}/{{ $json.id}}",
            "Candidate Name": "={{ $json.Name }}",
            "Job Role": "={{ $json[\"Job Role\"] }}",
            "Resume Name": "={{ $json.Resume.filename }}",
            "Email": "={{ $json.Email }}",
            "Address": "={{ $json.output.address }}",
            "Tel": "={{ $json.output.tel }}",
            "Porfolio": "={{ $json.output['portfolio url'] }}",
            "Create Date": "={{ $json.formattedDate }}",
            "Update Date": "={{ $json.formattedDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Profile",
              "displayName": "Candidate Profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume Name",
              "displayName": "Resume Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Porfolio",
              "displayName": "Porfolio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Create Date",
              "displayName": "Create Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Update Date",
              "displayName": "Update Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        1136
      ],
      "id": "1e05f529-6d4d-45df-89e7-cc2e06d94001",
      "name": "Append candidate's row data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGLXlyS8eUGhktgd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### อ่านรายละเอียดตำแหน่งต่าง ๆ ที่เปิดรับพร้อมกับดึง jd ที่ตรงกับตำแหน่งที่ candidate สมัครเข้ามา\n",
        "height": 260,
        "width": 444,
        "color": 4
      },
      "id": "9eaf43a1-1707-4b89-a9bb-6579b2dbe440",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        1616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### upload resume ผู้สมัครเข้าไปใน folder ของผู้สมัครคนนั้น",
        "height": 244,
        "width": 236,
        "color": 4
      },
      "id": "65bcf9c0-23e6-4105-8028-adc88cb336d8",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        1296
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### update ข้อมูลใน column 'Score', 'Reason' ของผู้สมัคร",
        "height": 244,
        "width": 236,
        "color": 4
      },
      "id": "3431567b-62ff-4b5b-9bc9-e33ef2dfd85b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Workflow",
        "height": 1552,
        "width": 2944,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        400
      ],
      "id": "ce21ec60-69b0-4d77-91fc-338320ab7464",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "### form สำหรับให้ผู้สมัครกรอกข้อมูล\n\n",
        "height": 244,
        "width": 252,
        "color": 2
      },
      "id": "e85a67ca-fcfc-4ad3-b0dc-f038e0efdfcb",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        848
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Merge2": {
      "main": [
        [
          {
            "node": "Transform json input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize candidate's detail",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Get qualifications",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Get personal data",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Scoring & Reasoning",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        []
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload resume into candidate's folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "Update some col of candidate's row data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Append candidate's row data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume form submission": {
      "main": [
        [
          {
            "node": "Transform datetime",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read job role worksheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "Read metric evaluation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract resume's detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform datetime": {
      "main": [
        [
          {
            "node": "Create candidate's folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create candidate's folder": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read job role worksheet": {
      "main": [
        [
          {
            "node": "Read jd that corresponds job role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read jd that corresponds job role": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload resume into candidate's folder": {
      "main": [
        []
      ]
    },
    "Extract resume's detail": {
      "main": [
        [
          {
            "node": "Get qualifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get personal data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get personal data": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get qualifications": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summarize candidate's detail": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read metric evaluation": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Transform json input": {
      "main": [
        [
          {
            "node": "Scoring & Reasoning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring & Reasoning": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update some col of candidate's row data": {
      "main": [
        []
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Summarize candidate's detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (โครงสร้าง Json Output ที่อยากให้เป็น)": {
      "ai_outputParser": [
        [
          {
            "node": "Scoring & Reasoning",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "Append candidate's row data": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bangkok",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "CWaU7Xx0DNr5z1Vn"
  },
  "versionId": "266cdc8d-9f96-4c54-bbe0-26d0245ccc27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91df12515cd6a283b655811ae8756ab40523fa0fb71571e55bfaabd1064045bb"
  },
  "id": "CWaU7Xx0DNr5z1Vn",
  "tags": []
}